- name: Build 
  hosts: repo_jfkhome
  become: true
  vars_files:
    - vars.yaml
  tasks:                
    - name: Install apt packages
      apt:  
        update_cache: yes
        name: "{{ item }}"
      loop:
        - php
        - apache2
        - ncdu        
        - vim
        - htop               
      become: true

    - name: Ensure groups exist
      group:
        name: "{{ item }}"
        state: present
      loop:
        - www-data

    - name: Manage user kevin and group memberships
      user:
        name: kevin
        state: present
        groups: www-data
        append: yes    
                       
    - name: Manage Apache2 Service
      become: true
      service:
        name: apache2
        state: restarted
        enabled: yes

    - name: Delete /var/www/html/index.html
      ansible.builtin.file:
        path: /var/www/html/index.html
        state: absent      

    - name: Generate service list from services directory (in reverse proxy repo)
      include_tasks: /home/kevin/reverse-proxy/tasks/generate_services.yaml

    - name: Generate services web page on jfkhome servers (in reverse proxy repo)
      include_tasks: "{{ git_dir }}/generate_site.yaml"

    - name: Deploy HAProxy Status Bridge
      template:
        src: ../templates/status.php.j2
        dest: /var/www/html/status.php
        owner: www-data
        group: www-data
        mode: '0644'
      vars:
        # Pass the internal IP of your proxy here
        haproxy_internal_ip: "{{ groups['repo_reverse_proxy'][0] }}"