- name: Build 
  hosts: repo_jfkhome
  become: true
  vars_files:
    - vars.yaml
  tasks:                
    - name: Install apt packages
      apt:  
        update_cache: yes
        name: "{{ item }}"
      loop:
        - apache2
        - php
        - php-curl
        - php-gd
        - php-imagick
        - ncdu        
        - vim
        - htop       
        - nfs-common 
      become: true

    - name: Ensure user kevin exists
      user:
        name: kevin
        state: present
      

    - name: Ensure group www-data exists
      group:
        name: www-data
        state: present
      

    - name: Add user kevin to group www-data
      user:
        name: kevin
        groups: www-data
        append: yes
      
                       
    - name: Enable apache2 service
      systemd:
        name: apache2
        enabled: yes
      become: true                    
    
    - name: Restart apache
      service:
        name: apache2
        state: restarted
              

    - name: Delete /var/www/html/index.html
      ansible.builtin.file:
        path: /var/www/html/index.html
        state: absent
      

    - name: Generate service list from services directory (in reverse proxy repo)
      include_tasks: /home/kevin/reverse-proxy/tasks/generate_services.yaml

    - name: Generate services html page on jfkhome servers (in reverse proxy repo)
      include_tasks: /home/kevin/reverse-proxy/tasks/generate_site.yaml