- name: Deploy all service catalog web assets
  template:
    src: "{{ git_dir }}/templates/{{ item.src }}"
    dest: "/var/www/html/{{ item.dest }}"
    owner: www-data
    group: www-data
    mode: '0644'
  loop:
    - { src: 'services_page.php.j2', dest: 'index.php' }
    - { src: 'status.php.j2',        dest: 'status.php' }
    - { src: 'dbs.php.j2',           dest: 'dbs.php' }
    - { src: '404.html',           dest: '404.html' }
    - { src: 'style.css',            dest: 'style.css' } # template works for static files too
  vars:
    services_list: "{{ flat_services_list }}"
