- name: Deploy entire HTML directory with template processing
  template:
    src: "{{ item.src }}"
    dest: "/var/www/html/{{ item.path | regex_replace('\\.j2$', '') }}"
    owner: www-data
    group: www-data
    force: yes
    mode: "{{ item.mode | default('0644') }}"
  loop: "{{ query('community.general.filetree', git_dir + '/html/') }}"
  when: item.state == 'file'

- name: copy images
  copy:
    src: "{{ git_dir }}/images"
    dest: "/var/www/html/"
    owner: www-data
    group: www-data
    force: yes
    mode: 644

- name: Symlink services_page.php to index.php
  ansible.builtin.file:
    src: /var/www/html/services_page.php
    dest: /var/www/html/index.php
    state: link
    force: yes  