- name: Generate Service Catalog index.php
  template:
    src: "{{ git_dir }}/templates/services_page.php.j2"
    dest: /var/www/html/index.php 
    owner: www-data
    group: www-data
    mode: '0644'
  vars:
    services_list: "{{ flat_services_list }}"

- name: Generate status php script index.php
  template:
    src: "{{ git_dir }}/templates/status.php.j2"
    dest: /var/www/html/status.php 
    owner: www-data
    group: www-data
    mode: '0644'
  vars:
    services_list: "{{ flat_services_list }}"

- name: copy css
  copy:
    src: "{{ git_dir }}/templates/style.css"
    dest: /var/www/html/style.css 
    owner: www-data
    group: www-data
    mode: '0644'
  vars:
    services_list: "{{ flat_services_list }}"