<?php
// Define the internal svc_names of your database clusters in HAProxy
$db_clusters = [
    [
        'display' => 'MariaDB cluster (Galera) {{ env }}', 
        'svc_name' => 'mysql'
    ],
    [
        'display' => 'PostgreSQL cluster (Patroni) {{ env }}',
        'svc_name' => 'psql'
    ],
];

foreach ($db_clusters as $db):
    $info = get_backend_info($db['svc_name'], $stats, "db");
?>
    <div class="service-card db-card">
        <div style="display: flex; align-items: center;">
            <span class="status-dot status-<?php echo $info['status']; ?>"></span>
            <span class="service-name"><?php echo $db['display']; ?></span>
        </div>        
        <div class="tag tag_internal">Infrastructure</div>
    </div>
<?php endforeach; ?>
