{# Define scope #}
{%- set scope = 'external' if env == 'prod' else 'internal' -%}

{# Include a script to parse the haproxy json information #}
<?php include 'status.php';?>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Service Directory - {{ env | title }}</title>
    <link rel="stylesheet" type="text/css" href="./style.css">  
</head>
<body>
    <div class="container">
        <h1>TheJFK.ca Service Directory- {{ scope | title }}</h1>
        <p>Environment: <strong>{{ scope }}</strong> | <small>Live Status: <?php echo empty($stats) ? '⚠️ Offline' : '✅ Connected'; ?></small></p>
        <p>Legend: 
            <ul>
                <li><span class="status-dot status-up" title="Status: up"></span>Site is up</li>
                <li><span class="status-dot status-down" title="Status: down"></span>Site is down</li>
                <li><span class="status-dot status-maint" title="Status: maint"></span>Site is under maintenance</li>
                <li><span class="status-dot status-unknown" title="Status: unknown"></span>Site status is unknown</li>
            </ul>
        </p>
        {% for svc in services_list | sort(attribute='name') %}

            {# 1. Filter for scope (internal/external) and visibility (not intentionally hidden) #}
            {% if scope in svc.scope and not svc.hide_on_page | default(false) %}
                
            <?php 
                {# 2. Perform the live HAProxy lookup #}
                $status = get_backend_status('{{ svc.name }}', $stats, "web"); 
                
                {# 3. Only render the HTML if the backend actually has a status code (backend actually exists or not) #}
                if ($status !== 'unknown'): 
            ?>
                
                <div class="service-card">
                    <div style="display: flex; align-items: center; min-width: 200px;">
                        <span class="status-dot status-<?php echo $status; ?>" title="Status: <?php echo $status; ?>"></span>
                        <div>
                            <span class="service-name">{{ svc.name }}</span>
                            <br>
                            {%- for target_scope in svc.scope %}
                            <span class="tag tag_{{ target_scope }}">{{ target_scope }}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="desc">
                        {{ svc.description | default(" ") }}
                    </div>

                    <div>
                        <a href="https://{{ svc.fqdn_list | first }}" class="btn" target="_blank">View site</a>
                    </div>
                </div>

                <?php endif; // End status check ?>
            {% endif %}
        {% endfor %}
    </div>
    <hr>
    <div class="db-container container">
    <h2>Database Cluster Status</h2>
        <?php include 'dbs.php';?>
    </div>
</body>
</html>