<?php
// status.php
header('Content-Type: application/json');

// The internal IP of your HAProxy server
$haproxy_url = "https://ha-dev.thejfk.ca/stats;json"; 

$ch = curl_init();
curl_setopt($ch, CURLOPT_URL, $haproxy_url);
curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);
curl_setopt($ch, CURLOPT_TIMEOUT, 2); // Don't hang the page if HAProxy is down

$response = curl_exec($ch);

if(curl_errno($ch)) {
    echo json_encode(["error" => "HAProxy unreachable"]);
} else {
    echo $response;
}
curl_close($ch);